<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <h4 class="col-12 card-title">Employee Information</h4>
          <div class="col-lg-5 co-md-12 m-2">
            <img src="assets/Images/download.png" class="card-img-absolute" alt="employee">
            <div class="forms-sample mt-3">
              <h2>Employee Data</h2>
              <div class="form-group">
                <label for="EmployeeHireD">Hiring Date</label>
                <input type="date" class="form-control" value="2022-01-01" id="EmployeeHireD" disabled>
              </div>
              <div class="form-group">
                <label for="EmployeeSalary">Salary</label>
                <input type="number" class="form-control" id="EmployeeSalary" value="10000" disabled>
              </div>
              <div class="form-group">
                <label for="EmployeeAttendanceDate">Attendance Date</label>
                <input type="datetime" class="form-control" value="2022-01-01T09:30" id="EmployeeAttendanceDate"
                  disabled>
              </div>
              <div class="form-group">
                <label for="EmployeeLeavingDate">Leaving Date</label>
                <input type="datetime" value="2022-01-01T09:30" class="form-control" id="EmployeeLeavingDate" disabled>
              </div>

            </div>

          </div>

          <div class="col-lg-6 col-md-12 mt-4">
            <div class="forms-sample">
              <h2>Personal Information</h2>
              <div class="form-group">
                <label for="EmployeeName">Name</label>
                <input type="text" class="form-control" id="EmployeeName" value="Ahmed" disabled>
              </div>
              <div class="form-group">
                <label for="EmployeeGender">Gender</label>
                <select class="form-control form-select-lg mb-3 " id="EmployeeGender" disabled>
                  <option selected>Male</option>
                  <option>Female</option>
                </select>

              </div>
              <div class="form-group">
                <label for="EmployeeEmail">Email address</label>
                <input type="email" class="form-control" id="EmployeeEmail" value="Ahmed@gmail.com" disabled>
              </div>
              <div class="form-group">
                <label for="EmployeePhone">Phone Number</label>
                <input type="tel" class="form-control" id="EmployeePhone" value="+2011902344" disabled>
              </div>
              <div class="form-group">
                <label for="EmployeeNationality">Nationality</label>
                <input type="text" class="form-control" id="EmployeeNationality" value="Egyptian" disabled>
              </div>
              <div class="form-group">
                <label for="exampleInputCity1">Birthday</label>
                <input type="date" class="form-control" id="EmployeeBrithday" value="2022-01-01" disabled>
              </div>
              <div class="form-group">
                <label for="EmployeeID">National ID</label>
                <input type="text" class="form-control" id="EmployeeID" value="29988886665444" disabled>
              </div>

            </div>
          </div>

          <div class="col-md-12 mx-2 mt-3">
            <button onclick="EnableAll()" id="Edit_Save" class="btn btn-primary mr-2">Edit</button>
            <a href=""><button class="btn btn-light">Back</button></a>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>
