<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <h4 class="col-12 card-title">Employee Information</h4>
          <div class="col-lg-5 co-md-12 m-2">
            <div class="forms-sample mt-3">
              <h2>Employee Data</h2>
              <div class="form-group">
                <label for="EmployeeHireD">Hiring Date</label>
                <input type="text" class="form-control" value="{{Employee.hirDate}}" id="EmployeeHireD" disabled>
              </div>
              <div class="form-group">
                <label for="EmployeeSalary">Salary</label>
                <input type="number" class="form-control" id="EmployeeSalary" value="{{Employee.netSalary}}" disabled>
              </div>
              <div class="form-group">
                <label for="EmployeeAttendanceDate">Attendance Date</label>
                <input type="datetime" class="form-control" value="{{Employee.attendanceTime}}" id="EmployeeAttendanceDate"
                  disabled>
              </div>
              <div class="form-group">
                <label for="EmployeeLeavingDate">Leaving Date</label>
                <input type="datetime" value="{{Employee.departureTime}}" class="form-control" id="EmployeeLeavingDate" disabled>
              </div>
              <div class="form-group">
                <label for="EmployeeDepartment">Department</label>
                <input type="datetime" value="{{Employee.department}}" class="form-control" id="EmployeeDepartment" disabled>
              </div>

            </div>

          </div>

          <div class="col-lg-6 col-md-12 mt-4">
            <div class="forms-sample">
              <h2>Personal Information</h2>
              <div class="form-group">
                <label for="EmployeeName">Name</label>
                <input type="text" class="form-control" id="EmployeeName" value="{{Employee.name}}" disabled>
              </div>
              <div class="form-group">
                <label for="EmployeeGender">Gender</label>
                <input type="text" class="form-control" id="Employeegender" value="{{Employee.gender}}" disabled>

              </div>
              <div class="form-group">
                <label for="EmployeePhone">Phone Number</label>
                <input type="tel" class="form-control" id="EmployeePhone" value="{{Employee.phone}}" disabled>
              </div>
              <div class="form-group">
                <label for="EmployeeNationality">Nationality</label>
                <input type="text" class="form-control" id="EmployeeNationality" value="{{Employee.nationality}}" disabled>
              </div>
              <div class="form-group">
                <label for="exampleInputCity1">Birthday</label>
                <input type="text" class="form-control" id="EmployeeBrithday" value="{{Employee.birthDate}}" disabled>
              </div>
              <div class="form-group">
                <label for="EmployeeID">National ID</label>
                <input type="text" class="form-control" id="EmployeeID" value="{{Employee.ssn}}" disabled>
              </div>

            </div>
          </div>

          <div class="col-md-12 mx-2 mt-3">
            <a [routerLink]="['/newemployee', EmployeeID,'edit']" > <button  id="Edit_Save" class="btn btn-primary mr-2">Edit</button></a>
            <a [routerLink]="['/allEmp']"><button class="btn btn-light">Back</button></a>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>
