<div class="row">

  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Group Permissions</h4>

        <div class="row pt-2 justify-content-between">
          <div class="col-lg-5 col-md-12 d-flex justify-content-center ">
            <label for="search" class="pt-3 mr-4">Search</label>
            <input type="text" class="form-control rounded-pill" name="search" id="search"
              placeholder="Group name">
          </div>

          <div class="col-lg-2 col-md-12  pl-5">
            <a><button class="btn btn-primary" [routerLink]="['/addGroup']"><i
                  class="fa-solid fa-plus"></i></button></a>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-12 table-responsive">
            <table class="table expandable-table dataTable no-footer w-50" role="grid">
              <thead>
              <tr>
                <th>NO.</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let group of Groups;let i=index;">
                <td>{{i+1}}</td>
                <td>{{group.name}}</td>


              </tr>

            </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>
  </div>


</div>
