<!--info top-->
<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="row">
      <div class="col-12 col-xl-8 mb-4 mb-xl-0">
        <h3 class="font-weight-bold">Welcome Admin</h3>
        <h6 class="font-weight-normal mb-0">All systems are running smoothly!</h6>
      </div>
      <div class="col-12 col-xl-4">
        <div class="justify-content-end d-flex">
          <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
            <a class="btn btn-sm btn-light bg-white" type="button" id="dropdownMenuDate2" aria-haspopup="true"
              aria-expanded="true">
              <i class="fa-solid fa-calendar-days fa-lg mr-4" style="color: #5858FA;"></i> Today (10 Jan 2021)
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end top info-->
<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card tale-bg">
      <div class="card-people mt-auto">
        <img src="assets/Images/dashboard/people.svg" alt="people">
        <div class="weather-info">
          <div class="d-flex">
            <div>
              <h2 class="mb-0 font-weight-normal"><i class="icon-sun mr-2"></i>31<sup>C</sup></h2>
            </div>
            <div class="ml-2">
              <h4 class="location font-weight-normal">Cairo</h4>
              <h6 class="font-weight-normal">Egypt</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin transparent">
    <div class="row">
      <div class="col-md-6 mb-4 stretch-card transparent">
        <div class="card card-tale">
          <div class="card-body">
            <p class="mb-4">Total Employees</p>
            <p class="fs-30 mb-2">30</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4 stretch-card transparent">
        <div class="card card-dark-blue">
          <div class="card-body">
            <p class="mb-4">Total Departments</p>
            <p class="fs-30 mb-2">4</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
        <div class="card card-light-blue">
          <div class="card-body">
            <p class="mb-4">Admins</p>
            <p class="fs-30 mb-2">20</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 stretch-card transparent">
        <div class="card card-light-danger">
          <div class="card-body">
            <p class="mb-4">Weekend</p>
            <p class="fs-30 mb-2">2 Days</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="p-2 mt-3 d-flex justify-content-center align-items-center flex-column">
    <h3 class="font-weight-bold mb-4 p-2">Pioneers Solutions</h3>
    <div class="card-people mt-auto">
      <img class="rounded w-100 h-75" src="assets/Images/team.jpg">
    </div>

  </div>

</div>
