<div class="row" id="printSection">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="container mb-5 mt-3">
          <div class="row d-flex align-items-baseline">
            <div class="col-xl-9">
             
            </div>
            <div class="col-xl-3 float-end">
              <button class="btn btn-light text-capitalize border-0 mr-3" data-mdb-ripple-color="dark" (click)="printSection()" ><i
                  class="fas fa-print text-primary"></i> Print</button>
           
            </div>
            <hr>
          </div>

          <div class="container">
            <div class="col-md-12">
              <div class="text-center">
                <img src="../../../assets/Images/logo-min.png" style="width:60px;height: 60px;">
                <p class="pt-0">pioneers-solutions.com</p>
              </div>

            </div>


            <div class="row">
              <div class="col-xl-8">
                <ul class="list-unstyled">
                  <li class="text-black font-weight-bold">To: <span>{{employeeData?.employee?.name}}</span></li>
                  <li class="text-muted">Address :{{employeeData?.employee?.address}}</li>
                  <li class="text-muted"><i class="fas fa-phone"></i> {{employeeData?.employee?.phone}}</li>  
                </ul>
              </div>
              <div class="col-xl-4">
              
                <ul class="list-unstyled">
                  <li class="text-muted"><i class="fas fa-circle" style="color:#4B49AC ;"></i> <span
                      class="fw-bold"><b>Creation Date:</b> </span>{{getDateNow()}}</li>
                 
                </ul>
              </div>
            </div>

            <div class="row my-2 mx-1 justify-content-center table-responsive">
              <table class="table expandable-table dataTable no-footer w-100" role="grid">
                <thead style="background-color:#84B0CA ;" class="text-white">
              
                   <tr role="row">
                  <th>Number</th>
                  <th>Name</th>
                  <th>Department</th>
                  <th>Salary</th>
                  <th>Attendance Days</th>
                  <th>Off Days</th>
                  <th>Overtime</th>
                  <th>Deduction</th>
              
                 
                </tr>
                
                </thead>
                <tbody>
                 <tr>
                  <td>1</td>
                  <td class="select-checkbox">{{ employeeData?.employee?.name }}</td>
                  <td>{{ employeeData.departmentName }}</td>
                  <td>{{ employeeData.baseSalary }}</td>
                  <td>{{ employeeData.attendanceDays }}</td>
                  <td>{{ employeeData.offDays }}</td>
                  <td>{{ employeeData.bounsHours }}</td>
                  <td>{{ employeeData.lateHours | date : "s" }}</td>
                 
                  
                </tr>
                  
                </tbody>

              </table>
            </div>
            <div class="row">
            
              <div class="col-xl-3">
                <ul class="list-unstyled">
                 
                  <li class="text-muted ms-3"><span class="text-black me-4">Overtime(EGP): </span>{{ employeeData.bounsHoursValue }}</li>
                  <li class="text-muted ms-3 mt-2"><span class="text-black me-4">Deduction(EGP): </span>{{ employeeData.lateHoursValue }}
                  </li>
                </ul>
                <p class="text-black float-start"><span class="text-black me-3"> Total Salary</span><span
                    style="font-size: 25px;">{{ employeeData?.netSalary}}</span></p>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
