
 <!--end nav-->

 <div class="container-fluid page-body-wrapper">
  <!-- settings -->
  <div class="theme-setting-wrapper" style="cursor: pointer;">
      <!--icon setting-->
      <div id="settings-trigger"><i class=" bi bi-gear"
              style="color: #ffffff; font-size: 25px;"></i></div>
      <div id="theme-settings" class="settings-panel">
          <i class="fa-solid fa-xmark settings-close "></i>
          <p class="settings-heading">SIDEBAR COLOR</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme">
              <div class="img-ss rounded-circle bg-light border mr-3"></div>Light
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
              <div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark
          </div>
          <p class="settings-heading mt-2">HEADER COLOR</p>
          <div class="color-tiles mx-0 px-4">
              <div class="tiles success"></div>
              <div class="tiles warning"></div>
              <div class="tiles danger"></div>
              <div class="tiles info"></div>
              <div class="tiles dark"></div>
              <div class="tiles default"></div>
          </div>
      </div>
  </div>
  <!--End settings-->
  <!--Start right sidebar-->

  <!--End Right Sidebar-->

</div>





