
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
          <div class="card-body">
              <p class="card-title">New Department</p>
              <form [formGroup]="departmentForm"  (ngSubmit)="onSubmit()" class="row mb-4">
                  <div class="col-lg-5 col-md-12 p-3 m-auto">
                      <label for="GroupName">Department Name</label>
                      <select class="col-md-12 form-control rounded border-primary" formControlName="deptId" >
                        <option *ngFor="let option of Departments" [value]="option.id" >{{ option.name }}</option>

                       </select>
                  </div>
                  <div class="col-md-12 mx-2 d-flex justify-content-center">
                      <button type="submit" class="btn btn-primary mr-2">Move</button>
                      <a [routerLink]="['/showDepts']"><button class="btn btn-light">Back</button></a>
                  </div>

              </form>
          </div>
      </div>
  </div>


</div>


