<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <p class="card-title">New Group</p>
        <div class="col-lg-6 col-md-12 p-3 m-auto">
          <label for="GroupName">Group Name</label>
          <input id="GroupName" type="text" class="form-control rounded border-primary" placeholder="Employee name"  [(ngModel)]="group_name">
        </div>


        <div class="row mt-5">
          <div class="col-md-12 ">
            <!-- permissions.component.html -->

            <table class="m-auto table-hover expandable-table no-footer w-75" role="grid">
              <thead>
                <tr role="row">
                  <th>Module name</th>
                  <th>Show</th>
                  <th>Add</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let page of Pages">
                  <td>{{ page.name }}</td>
                  <td>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" [checked]="selectedPermissions[page.name]?.Show"
                      (change)="updateSelectedPermissions(page.name, $event, 'Show')">
                    </div>
                  </td>
                  <td>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" [checked]="selectedPermissions[page.name]?.Add"
                      (change)="updateSelectedPermissions(page.name, $event, 'Add')">
                    </div>
                  </td>
                  <td>
                    <div class="form-check">

                  <input type="checkbox" class="form-check-input" [checked]="selectedPermissions[page.name]?.Edit"
                  (change)="updateSelectedPermissions(page.name, $event, 'Edit')">
                    </div>
                  </td>
                  <td>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" [checked]="selectedPermissions[page.name]?.Delete"
                    (change)="updateSelectedPermissions(page.name, $event, 'Delete')">
                    </div>
                  </td>

                </tr>
              </tbody>
            </table>


          </div>
          <div class="col-md-12 mx-2 pt-5 mt-5 d-flex justify-content-center">
            <button class="btn btn-primary mr-2"  (click)="Submit()">Save</button>
            <a [routerLink]="['/permission']"><button class="btn btn-light">Back</button></a>
          </div>
        </div>



      </div>
    </div>


  </div>
</div>
