
  <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
              <div class="card-body">
                  <p class="card-title">New Group</p>
                  <div class="col-lg-6 col-md-12 p-3 m-auto">
                      <label for="GroupName">Group Name</label>
                      <input id="GroupName" type="text" class="form-control rounded border-primary"
                          placeholder="Employee name">
                  </div>


                  <div class="row mt-5">
                      <div class="col-md-12 ">
                          <table class="m-auto table-hover expandable-table no-footer w-75"
                              role="grid">
                              <thead>
                                  <tr role="row">
                                      <th>Module name</th>
                                      <th>Show</th>
                                      <th>Add</th>
                                      <th>Edit</th>
                                      <th>Delete</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr class="odd">
                                      <td>All Employee</td>
                                      <td>
                                          <div class="form-check">
                                              <input type="checkbox" class="form-check-input">
                                          </div>
                                      </td>
                                      <td>
                                          <div class="form-check">
                                              <input type="checkbox" class="form-check-input">
                                          </div>
                                      </td>
                                      <td>
                                          <div class="form-check">
                                              <input type="checkbox" class="form-check-input">
                                          </div>
                                      </td>
                                      <td>
                                          <div class="form-check">
                                              <input type="checkbox" class="form-check-input">
                                          </div>
                                      </td>
                                  </tr>

                                  <tr class="even">
                                      <td>Add user</td>
                                      <td>
                                          <div class="form-check">
                                              <input type="checkbox" class="form-check-input">
                                          </div>
                                      </td>
                                      <td>
                                          <div class="form-check">
                                              <input type="checkbox" class="form-check-input">
                                          </div>
                                      </td>
                                      <td>
                                          <div class="form-check">
                                              <input type="checkbox" class="form-check-input">
                                          </div>
                                      </td>
                                      <td>
                                          <div class="form-check">
                                              <input type="checkbox" class="form-check-input">
                                          </div>
                                      </td>
                                  </tr>
                                  <tr class="odd">

                                      <td>Group</td>
                                      <td>
                                          <div class="form-check">
                                              <input type="checkbox" class="form-check-input">
                                          </div>
                                      </td>
                                      <td>
                                          <div class="form-check">
                                              <input type="checkbox" class="form-check-input">
                                          </div>
                                      </td>
                                      <td>
                                          <div class="form-check">
                                              <input type="checkbox" class="form-check-input">
                                          </div>
                                      </td>
                                      <td>
                                          <div class="form-check">
                                              <input type="checkbox" class="form-check-input">
                                          </div>
                                      </td>
                                  </tr>

                              </tbody>
                          </table>
                      </div>
                      <div class="col-md-12 mx-2 pt-5 mt-5 d-flex justify-content-center">
                          <button class="btn btn-primary mr-2">Save</button>
                          <a [routerLink]="['/permission']"><button class="btn btn-light">Back</button></a>
                      </div>
                  </div>



              </div>
          </div>


      </div>
  </div>

