

  <!--info top-->
  <div class="row">
      <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Add Employee</h4>
              <form class="form-sample">
                <p class="card-description">
                  Personal Information
                </p>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">First Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Last Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Nationality</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Address</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Gender</label>
                      <div class="col-sm-9">
                        <select class="form-control">
                          <option>Male</option>
                          <option>Female</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">BirthDay</label>
                      <div class="col-sm-9">
                        <input type="date" class="form-control" placeholder="dd/mm/yyyy"/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">National ID</label>
                      <div class="col-sm-9">
                          <input type="number" class="form-control" />
                        </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Phone Number</label>
                      <div class="col-sm-9">
                        <input type="number" class="form-control" placeholder=""/>
                      </div>
                    </div>
                  </div>
                </div>


                <p class="card-description">
                  Work Information
                </p>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">HirDate</label>
                      <div class="col-sm-9">
                        <input type="date" class="form-control" placeholder="dd/mm/yyyy"/>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Salary</label>
                        <div class="col-sm-9">
                          <input type="number" class="form-control" placeholder=""/>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">InTime</label>
                        <div class="col-sm-9">
                          <input type="time" class="form-control" placeholder="dd/mm/yyyy"/>
                        </div>
                      </div>
                    </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">OutTime</label>
                      <div class="col-sm-9">
                        <input type="time" class="form-control" placeholder="dd/mm/yyyy"/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mx-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mr-2">Save</button>
                <button type="submit" class="btn btn-primary mr-2">Edit</button>
                <button type="submit" class="btn btn-primary mr-2">Delete</button>
                </div>
              </form>
            </div>
          </div>
        </div>


</div>

